body {
  background-color: rgb(0, 1, 6);
}
.error {
  background-color: #dd0b00;
  padding: 1rem;
  color: rgb(251, 237, 237);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border:rgba(0, 191, 255, 0.6)
}
.resultado {
  color: rgb(255, 248, 248);
}
.resultado h2 {
  font-weight: bold;
  color: white;
}
.resultado p {
  font-size: 18px!important;
}
.resultado p span {
  font-weight: bold;
}
p.precio{
  font-size: 30px!important;
}

.red{
  color:rgb(255, 44, 44);
}

.green{
  color:rgb(0, 210, 144);
}