body {
  background-color: rgb(17, 11, 11);
}
.error {
  background-color: #dd0b00;
  padding: 1rem;
  color: rgb(251, 237, 237);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.resultado {
  color: rgb(255, 248, 248);
}
.resultado h2 {
  font-weight: bold;
  color: white;
}
.resultado p {
  font-size: 18px!important;
}
.resultado p span {
  font-weight: bold;
}
p.precio{
  font-size: 30px!important;
}